{% extends "base.html" %}

{% block header %}Ny bruker{% endblock %}
{% block body %}

		<table class="table">
			<tr>
				<td>Brukernavn:</td>
				<td><input type="text" name="username" id="username"></td>
			</tr>
			<tr>
				<td>Passord:</td>
				<td><input type="password" name="password" id="password"></td>
			</tr>
			<tr>
				<td>Lokal administrator:</td>
				<td><input type="checkbox" name="local_admin" id="local_admin"></td>
			</tr>
			<tr>
				<td>System-administrator:</td>
				<td><input type="checkbox" name="system_admin" id="system_admin"></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button id="create_user" class="btn btn-default">Lag bruker</button>
				</td>
			</tr>
		</table>

		<h3>Brukere</h3>
		<!-- <h4>Brukere logget inn: <span id="usr-logged-in"></span></h4> -->
		<table class="table">
			<thead>
				<tr>
					<th>Brukernavn</th>
					<th>Lokal admin</th>
					<th>Administrator</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="user-body">
				{% for user in users %}
					<tr>
						<td>{{ user.username }}</td>
						<td>{{ "Ja" if user.local_admin else "Nei" }}</td>
						<td>{{ "Ja" if user.system_admin else "Nei" }}</td>
						<td>
							<button class="btn btn-danger btn-xs del-btn" name="{{ user.username }}">Slett</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>

		</table>

{% endblock %}

{% block scripts %}
	<script type="text/javascript">

		$("#create_user").click(function(){
			var data = {
				username: $("#username").val(),
				password: $("#password").val(),
				system_admin: $("#system_admin").is(":checked"),
				local_admin: $("#local_admin").is(":checked")
			}
			$.ajax({
				type: "POST",
				contentType: 'application/json;charset=UTF-8',
				url: "{{ url_for('create_user') }}",
				data: JSON.stringify(data),
				success: function(result) {
					if (result["success"]){
						show_message("Brukeren " + $("#username").val() + " ble laget.");
						$("#user-body").append("<tr><td>" + data.username + "</td><td>" + (data.local_admin ?"Ja": "Nei") + "</td><td>" + (data.system_admin ? "Ja": "Nei") + "</td><td><button class='btn btn-danger btn-xs del-btn'>Slett</button></td></tr>");
					}
					else if (result["msg"])
						show_message(result["msg"]);
					else
						show_message("Brukeren " + data["username"] + " ble ikke laget.");
					$("#username").val("");
					$("#password").val("");
					$("#admin").prop('checked', false);
				}
			});
		});

		$(".del-btn").click(function(){
			var self = $(this);
			var username = self[0].name;
			$.ajax({
				type: "POST",
				url: "{{ url_for('delete_user') }}",
				contentType: 'application/json;charset=UTF-8',
				data: JSON.stringify({username: username}),
				success: function(result){
					if (result["deleted"]){
						show_message("Brukeren " + username + " ble slettet.");
						self.parent().parent().remove();
					}
					if (result["msg"])
						show_message(result["msg"]);
				}
			});
		});

	// 	setInterval(function() {
	// 	$.ajax({
	// 		type: "GET",
	// 		url: "{{ url_for('get_users_logged_in') }}",
	// 		success: function(result) {
	// 			console.log(result);
	// 			$("#usr-logged-in").text(result["nums"]);
	// 		}
	// 	});
	// }, 10000);


	</script>
{% endblock %}